{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block ExtraCss %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap" rel="stylesheet">


<style>
    .gray-bg{
        background:#eee;    
    }
    .pageloader {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000000;
      opacity:1;
      overflow: hidden;
      display: table;
      padding: 50px;
      /* border: 2px var(--seconary-color) solid; */
      border-radius: 10px;
    }
    .loader {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    .loader span{
      color: var(--secondary-color);
      {% comment %} display: block;
      margin-top: 40px; {% endcomment %}
    }
    .sp-hydrogen {
      width: 96px;
      height: 96px;
      clear: both;
      margin: 60px auto;
      position: relative;
      border: 3px var(--secondary-color) solid;
      border-radius: 50%;
      -webkit-animation: spHydro 0.7s infinite linear;
      animation: spHydro 0.7s infinite linear;
    }
    .sp-hydrogen:before, .sp-hydrogen:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #252830;
      border-radius: 50%;
    }
    .sp-hydrogen:before {
      top: calc( 50% - 15px );
      left: calc( 50% - 15px );
    }
    .sp-hydrogen:after {
      top: -3px;
      left: -3px;
    }
    
    @-webkit-keyframes spHydro {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
    @keyframes spHydro {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    
    
    
      .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    
      .animated.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    
      @-webkit-keyframes fadeIn {
        0% {
          opacity: 0;
        }
    
        100% {
          opacity: 1;
        }
      }
    
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
    
        100% {
          opacity: 1;
        }
      }
    
      .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }
    
      @-webkit-keyframes fadeOut {
        0% {
          opacity: 1;
        }
    
        100% {
          opacity: 0;
        }
      }
    
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
    
        100% {
          opacity: 0;
        }
      }
    
      .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
      }
    
</style>

<style>
  * {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
</style>
{% endblock ExtraCss %}

{% block content %}

{% block header %}
{% endblock header %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card p-5 mx-auto">
                <h2 style="color: var(--temp-primary);" class="fs-1">Question Answer Settings</h2>

                <button type="button" class="btn btn-primary btn-sm my-4 ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Add Account
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="." method="POST" id="add-account-form">
                          {% csrf_token %}
                          <div class="row mt-2">
                              <div class="col-6">
                                  <div id="div_id_hash_key" class="form-group">
                                      <label for="id_hash_key" class="requiredField">Hash Key</label>
                                      <div class="">
                                          <input type="text" name="hash_key" autofocus="" autocapitalize="none" autocomplete="hash_key" maxlength="150" class="textinput textInput form-control rounded-pill" required="" id="id_hash_key">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div id="div_id_hash_id" class="form-group">
                                      <label for="id_hash_id" class="requiredField">Hash ID</label>
                                      <div class="">
                                          <input type="text" name="hash_id" autofocus="" autocapitalize="none" autocomplete="hash_id" maxlength="150" class="textinput textInput form-control rounded-pill" required="" id="id_hash_id">
                                      </div>
                                  </div>
                              </div>
                          </div>
      
                          <div class="row mt-2">
                              <div class="col">
                                  <div id="div_id_number" class="form-group">
                                      <label for="id_number" class="requiredField">Registered Telegram Number</label>
                                      <div class="">
                                          <input type="text" name="number" autofocus="" autocapitalize="none" autocomplete="number" maxlength="150" class="textinput textInput form-control rounded-pill" required="" id="id_number">
                                      </div>
                                  </div>
                              </div>
                          </div>
      
                          <div class="row mt-3">
                              <div class="col text-end">
                                  <button class="btn btn-primary btn-sm" onclick="verifyAccount()" type="button">Verify Account & Create Session</button>
                              </div>
                          </div>
      
      
                          <div class="row mt-2">
                              <div class="col">
                                  <div id="div_id_code" class="form-group">
                                      <label for="id_code" class="requiredField">Enter Code</label>
                                      <div class="">
                                          <input type="text" name="code" autofocus="" autocapitalize="none" autocomplete="code" maxlength="150" class="textinput textInput form-control rounded-pill" required="" id="id_code">
                                      </div>
                                  </div>
                              </div>
                          </div>
      
                          {% comment %} <input type="submit" value="Login" class="btn btn-success mt-4"> {% endcomment %}
                          {% comment %} <a href="{% url 'fetchdata:ScraperDataView' slug=slug sheet_num=sheet_num %}" onclick="handleSrap(this)" class="btn btn-success mt-4">Start Bot</a> {% endcomment %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>



                <table id="myTable" class="tablemanager">
                  <thead>
                    <tr class="header">
                      <th>Hash Key</th>
                      <th>Hash ID</th>
                      <th>Number</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for account in user.profile.get_telegram_accounts %}
                    <tr>
                      <td>{{account.key}}</td>
                      <td>{{account.id}}</td>
                      <td>{{account.number}}</td>
                      <td>{{account.get_status_display}}</td>
                      <td>
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-warning btn-sm">Edit</button>
                          </div>
                          <div class="col-6">
                            <button class="btn btn-danger btn-sm">Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pageloader bg-light shadow hidden" id="scraper-loader">
        <div class="loader">
          <span class="display-4">Scraping Data...</span>
          <div class="sp-hydrogen"></div>
        </div>
    </div>
</div>


<div id="message-area" class="hidden">
  <p id="text-content" class="fs-6 lead">Notification</p>
</div>
{% endblock content %}

{% block ExtraJs %}

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
  function closeParent(elem) {
    elem.parentElement.classList.toggle("show", false);
    elem.parentElement.classList.toggle("hidden", true);
  }
  function openElem(class_name) {
    document.querySelector(class_name).classList.toggle("show", true);
    document.querySelector(class_name).classList.toggle("hidden", false);
  }

  let to = null;
  function popUp(msg) {
    if (to) {
      clearTimeout(to);
    }
    const message_area = document.getElementById("message-area");
    message_area.classList.toggle("hidden", true);
    message_area.querySelector("#text-content").innerText = msg;
    setTimeout(() => {
      message_area.classList.toggle("hidden", false);
    }, 200);
    to = setTimeout(() => {
      message_area.classList.toggle("hidden", true);
    }, 2000);
  }
</script>

<script>
  const addAccountBtn = document.getElementById("add-account-form")
  function verifyAccount(){
    let hash_key = addAccountBtn.hash_key.value
    let hash_id = addAccountBtn.hash_id.value
    let number = addAccountBtn.number.value
  }

</script>

<script>
    const scraperLoader = document.getElementById("scraper-loader")
    function handleSrap(elem){

        setTimeout(() => {
            scraperLoader.classList.toggle("hidden", false);
        }, 200);

        to = setTimeout(() => {
            scraperLoader.classList.toggle("hidden", true);
            window.location = "{% url 'fetchdata:ScraperDataView' slug=slug scrap_opt=scrap_opt %}"
        }, 3000);
    }
</script>


{% endblock ExtraJs %}
