{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block ExtraCss %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap" rel="stylesheet">

<style>
    .bg-temp{
        background-color: #653cc9 !important;
    }

    .widget-26 {
    color: #3c4142;
    font-weight: 400;
    }

    .widget-26 tr:first-child td {
    border: 0;
    }

    .widget-26 .widget-26-job-emp-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }

    .widget-26 .widget-26-job-title {
    min-width: 200px;
    }

    .widget-26 .widget-26-job-title a {
    font-weight: 400;
    font-size: 0.875rem;
    color: #3c4142;
    line-height: 1.5;
    }

    .widget-26 .widget-26-job-title a:hover {
    color: #68CBD7;
    text-decoration: none;
    }

    .widget-26 .widget-26-job-title .employer-name {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
    color: #3c4142;
    }

    .widget-26 .widget-26-job-title .employer-name:hover {
    color: #68CBD7;
    text-decoration: none;
    }

    .widget-26 .widget-26-job-title .time {
    font-size: 12px;
    font-weight: 400;
    }

    .widget-26 .widget-26-job-info {
    min-width: 100px;
    font-weight: 400;
    }

    .widget-26 .widget-26-job-info p {
    line-height: 1.5;
    color: #3c4142;
    font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-info .location {
    color: #3c4142;
    }

    .widget-26 .widget-26-job-salary {
    min-width: 70px;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-category {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
    }

    .widget-26 .widget-26-job-category .indicator {
    width: 13px;
    height: 13px;
    margin-right: .5rem;
    float: left;
    border-radius: 50%;
    }

    .widget-26 .widget-26-job-category span {
    font-size: 0.8125rem;
    color: #3c4142;
    font-weight: 600;
    }

    .widget-26 .widget-26-job-starred svg {
    width: 20px;
    height: 20px;
    color: #fd8b2c;
    }

    .widget-26 .widget-26-job-starred svg.starred {
    fill: #fd8b2c;
    }
    .bg-soft-base {
    background-color: #e1f5f7;
    }
    .bg-soft-warning {
        background-color: #fff4e1;
    }
    .bg-soft-success {
        background-color: #d1f6f2;
    }
    .bg-soft-danger {
        background-color: #fedce0;
    }
    .bg-soft-info {
        background-color: #d7efff;
    }


    .search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    }

    .search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
    }

    .search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
    }

    .search-form select:focus {
    border: 0;
    }

    .search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    }

    .search-form button svg {
    width: 24px;
    height: 24px;
    }

    .search-body {
    margin-bottom: 1.5rem;
    }

    .search-body .search-filters .filter-list {
    margin-bottom: 1.3rem;
    }

    .search-body .search-filters .filter-list .title {
    color: #3c4142;
    margin-bottom: 1rem;
    }

    .search-body .search-filters .filter-list .filter-text {
    color: #727686;
    }

    .search-body .search-result .result-header {
    margin-bottom: 2rem;
    }

    .search-body .search-result .result-header .records {
    color: #3c4142;
    }

    .search-body .search-result .result-header .result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .search-body .search-result .result-header .result-actions .result-sorting {
    display: flex;
    align-items: center;
    }

    .search-body .search-result .result-header .result-actions .result-sorting span {
    flex-shrink: 0;
    font-size: 0.8125rem;
    }

    .search-body .search-result .result-header .result-actions .result-sorting select {
    color: #68CBD7;
    }

    .search-body .search-result .result-header .result-actions .result-sorting select option {
    color: #3c4142;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }
    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
    }

    .card-margin {
        margin-bottom: 1.875rem;
    }

    @media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    }

    .card-margin {
        margin-bottom: 1.875rem;
    }
    .card {
        border: 0;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff;
        background-clip: border-box;
        border: 1px solid #e6e4e9;
        border-radius: 8px;
        max-width: 500px;
    }
</style>
{% endblock ExtraCss %}

{% block content %}

{% block header %}
{% endblock header %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 card-margin text-center">
            <div class="card p-5 mx-auto">
                <h2 style="color: var(--temp-primary);" class="fs-1">Login</h2>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    {% comment %} {{form.as_p}} {% endcomment %}
                    {% comment %} <ul class="text-danger text-left">
                    {%for error in form.non_field_errors%}
                      <li>{{error}}</li>
                    {%endfor%}
                    </ul>
                    {%for field in form%}
                        <div class="form_field">
                            <p class="p-2 m-0"><strong>{{field.label}}:</strong></p>
                            <p class="text-muted m-0">{{field.help_text}}</p>
                            {%for error in field.errors%}
                                <p class="text-danger">
                                {{error}}
                                </p>
                            {%endfor%}
                            {{field}}
                        </div>
                    {%endfor%} {% endcomment %}
                    <br>
                    <input type="submit" value="Login" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>


<div id="message-area" class="hidden">
  <p id="text-content" class="fs-6 lead">Notification</p>
</div>
{% endblock content %}

{% block ExtraJs %}

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
  function closeParent(elem) {
    elem.parentElement.classList.toggle("show", false);
    elem.parentElement.classList.toggle("hidden", true);
  }
  function openElem(class_name) {
    document.querySelector(class_name).classList.toggle("show", true);
    document.querySelector(class_name).classList.toggle("hidden", false);
  }

  let to = null;
  function popUp(msg) {
    if (to) {
      clearTimeout(to);
    }
    const message_area = document.getElementById("message-area");
    message_area.classList.toggle("hidden", true);
    message_area.querySelector("#text-content").innerText = msg;
    setTimeout(() => {
      message_area.classList.toggle("hidden", false);
    }, 200);
    to = setTimeout(() => {
      message_area.classList.toggle("hidden", true);
    }, 2000);
  }
</script>
{% endblock ExtraJs %}
